In [1]:
import pandas as pd
import pymysql

In [2]:
# aws 데이터베이스 접속
aws_remote = pymysql.connect(
    host = 'oneday.c7s88kesazzg.us-east-1.rds.amazonaws.com',
    port = 3306,
    user = 'oneday',
    password = '1234',
    database="oneday",
)

pin_cur = aws_remote.cursor()

## 문제 1. 테이블 생성

In [3]:
# 데이터베이스 oneday를 선택하고 확인
pin_cur.execute("use oneday;")
pin_cur.execute("SELECT DATABASE();")
for item in pin_cur:
        print(item)

# 테이블 GAS_BRAND 생성
pin_cur.execute('''
    create table GAS_BRAND (
        id int not null auto_increment, 
        name varchar(16),
        primary key (id)
    );
''')

aws_remote.commit()

('oneday',)

In [4]:
# 테이블 COFEE_STORE 생성
pin_cur.execute('''
    create table GAS_STATION (
        id int not null auto_increment, 
        brand int,
        name varchar(64),
        city char(2),
        gu varchar(10),
        address varchar(128),
        gasoline int,
        diesel int,
        self boolean,
        car_wash boolean,
        charging_station boolean,
        car_maintenance boolean,
        convenience_store boolean,
        24_hours boolean,
        lat decimal(16, 14),
        lng decimal(17, 14),
        primary key (id),
        foreign key (brand) references GAS_BRAND(id)                
    );
''')
for item in pin_cur:
    print(item)
aws_remote.commit()

## 문제 2. GAS_BRAND 데이터 입력하고 확인

In [5]:
# Insert data into the gas_brand table
insert_query = '''
    INSERT INTO GAS_BRAND (name)
    VALUES (%s);
'''

# Data to be inserted
data = [
    ('SK에너지',),  # Note the comma to create a single-element tuple
    ('현대오일뱅크',),
    ('GS칼텍스',),
    ('S-OIL',),
    ('알뜰주유소',),
    ('자가상표',)
]

# Execute the insert query for each row of data
pin_cur.executemany(insert_query, data)

aws_remote.commit()

In [6]:
# 제출 1.
# - Table 생성 결과 : Desc GAS_BRAND; Desc GAS_STATION;
pin_cur.execute('desc GAS_BRAND;')
for item in pin_cur:
    print(item)

('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('name', 'varchar(16)', 'YES', '', None, '')

In [7]:
pin_cur.execute('desc GAS_STATION;')
for item in pin_cur:
    print(item)

('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('brand', 'int', 'YES', 'MUL', None, '')
('name', 'varchar(64)', 'YES', '', None, '')
('city', 'char(2)', 'YES', '', None, '')
('gu', 'varchar(10)', 'YES', '', None, '')
('address', 'varchar(128)', 'YES', '', None, '')
('gasoline', 'int', 'YES', '', None, '')
('diesel', 'int', 'YES', '', None, '')
('self', 'tinyint(1)', 'YES', '', None, '')
('car_wash', 'tinyint(1)', 'YES', '', None, '')
('charging_station', 'tinyint(1)', 'YES', '', None, '')
('car_maintenance', 'tinyint(1)', 'YES', '', None, '')
('convenience_store', 'tinyint(1)', 'YES', '', None, '')
('24_hours', 'tinyint(1)', 'YES', '', None, '')
('lat', 'decimal(16,14)', 'YES', '', None, '')
('lng', 'decimal(17,14)', 'YES', '', None, '')

In [8]:
# 제출 2.
# - GAS_BRAND 조회 결과 : SELECT * FROM GAS_BRAND;
pin_cur.execute("select * from GAS_BRAND;")
for item in pin_cur:
    print(item)

(1, 'SK에너지')
(2, '현대오일뱅크')
(3, 'GS칼텍스')
(4, 'S-OIL')
(5, '알뜰주유소')
(6, '자가상표')

## 문제 3. 다음의 함수와 그 함수를 테스트하는 코드를 작성하세요.
- 화폐단위 문자형을 입력받아 숫자형으로 반환하는 함수 (테스트 입력 : ‘1,000’)
- 주유소 브랜드를 입력하면 GAS_BRAND 데이터를 참고하여 ID 를 반환하는 함수 (테스트 입력 : ‘SK에너지’)
- 주소를 입력받아 구 이름을 반환하는 함수 (테스트 입력 : ‘서울시 강남구 헌릉로 730’)
- 주소를 입력받아 위도, 경도를 반환하는 함수 (테스트 입력 : ‘서울시 강남구 헌릉로 730’)

In [9]:
def change_type(number) :
    res = int(number.replace(',', ''))
    return res

test_num = '1,000'
changed = change_type(test_num)
print(f'Value: {changed}, Type: {type(changed)}')

Value: 1000, Type: <class 'int'>

In [10]:
# 주유소 브랜드를 입력하면 GAS_BRAND 데이터를 참고하여 ID 를 반환하는 함수 (테스트 입력 : ‘SK에너지’)
def gas_brand_id(brand):
    # 예외 처리
    if brand == 'PB':
        brand = '자가상표'
    elif brand == 'HD현대오일뱅크':
        brand = '현대오일뱅크'
    elif brand == '알뜰' or brand == '알뜰(ex)':
        brand = '알뜰주유소'
    id_query = '''
        SELECT id
        FROM GAS_BRAND
        WHERE name = %s;
    '''
    pin_cur.execute(id_query, (brand,))
    res = pin_cur.fetchone()[0]

    return res

In [11]:
test_brand = 'SK에너지'
res = gas_brand_id(test_brand)
print(res)

1

In [12]:
# 주소를 입력받아 구 이름을 반환하는 함수 (테스트 입력 : ‘서울시 강남구 헌릉로 730’)
def gu_from_address(address):
    gu = address.split()[1]
    return gu

test_address = '서울시 강남구 헌릉로 730'
print(gu_from_address(test_address))

강남구

In [13]:
# 주소를 입력받아 위도, 경도를 반환하는 함수 (테스트 입력 : ‘서울시 강남구 헌릉로 730’)
import googlemaps

gmapKey = 'AIzaSyCEigio6WJCbDOM4CwMRL6K-REMOUe7tKQ'
gmap = googlemaps.Client(key=gmapKey)

def lat_lng_from_address(address):
    tmp = gmap.geocode(address, language="ko")
    tmp[0].get("formatted_address")
    lat = tmp[0].get("geometry")["location"]["lat"]
    lng = tmp[0].get("geometry")["location"]["lng"]
    
    return lat, lng

test_address = '서울시 강남구 헌릉로 730'
print(lat_lng_from_address(test_address))

(37.4665675, 127.1190803)

## 문제 4. Python 코드에서 주유소 페이지에서 데이터를 가져올때, GAS_STATION 테이블에 바로 입력하도록 수정하세요.
- 주의. city 는 ‘서울’ 로 고정, 부가정보 데이터 타입
- 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다.
- 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.

In [14]:
# dependencies
from selenium import webdriver
from selenium.webdriver.common.by import By
# from bs4 import BeautifulSoup

import time
import pandas as pd

In [15]:
# 이전 EDA과제에서 해당 코드 불러오기
url = "https://www.opinet.co.kr/searRgSelect.do"
driver = webdriver.Chrome() 
driver.get(url)
time.sleep(10)

# 지역을 서울로 전환하기
sido_list = driver.find_element(By.ID, 'SIDO_NM0')
seoul_tag = sido_list.find_element(By.CSS_SELECTOR, '#SIDO_NM0 > option:nth-child(2)')
seoul_tag.click()
time.sleep(5)

# 자치구 선택하기
gu_list_raw= driver.find_element(By.ID, 'SIGUNGU_NM0')
time.sleep(1)
gu_list = gu_list_raw.find_elements(By.TAG_NAME, 'option')
time.sleep(1)
gu_names = [option.get_attribute("value") for option in gu_list]
gu_names = gu_names[1:]

time.sleep(3) # 숨 크게 들이 쉬고~

info_list = []
# 자, 드가자~
for gu_idx in range(len(gu_names)):
    gu_list_raw= driver.find_element(By.ID, 'SIGUNGU_NM0')
    time.sleep(1)
    gu_list_raw.send_keys(gu_names[gu_idx])
    time.sleep(4) # 쉬면서 일해라, 너도 힘들겄다

    station_list = driver.find_elements(By.CSS_SELECTOR, '#body1 > tr') # 주유소 목록
    time.sleep(1)

    # 개별 주유소들을 클릭할 수 있는 버튼은 `td` 태그안에 `class="rlist"`로 되어 있음.
    for idx in range(len(station_list)):
        info_select = f'#body1 > tr:nth-child({idx+1}) > td.rlist > a' 
        # driver.find_element(By.CSS_SELECTOR, info_select).click() 
        
        # 개별 주유소 클릭
        selector = driver.find_element(By.CSS_SELECTOR, info_select)
        
        # 강동구에 '천호현대주유소'가 이상하게 클릭이 되지 않음. 왜?
        try:
            selector.click()
        except:
            continue
        time.sleep(1)

        # 주유소 이름
        stn_name = driver.find_element(By.CSS_SELECTOR, '.header #os_nm').get_attribute('innerText')
        # 주유소 브랜드 
        brand = driver.find_element(By.CSS_SELECTOR, '#poll_div_nm').get_attribute('innerText')
        # 주소
        address = driver.find_element(By.CSS_SELECTOR, '#rd_addr').get_attribute('innerText')

        # 휘발유 가격
        gasoline_price = driver.find_element(By.CSS_SELECTOR, '#b027_p').get_attribute('innerText')
        # 경유 가격 
        diesel_price = driver.find_element(By.CSS_SELECTOR, '#d047_p').get_attribute('innerText')
        
        # 세차장 유무
        if '_off' in driver.find_element(By.CSS_SELECTOR,'.service #cwsh_yn').get_attribute('src').split('/')[-1]:
            washing_car = 0  
        else:
            washing_car = 1
        # 충전소 유무
        if '_off' in driver.find_element(By.CSS_SELECTOR, '.service #lpg_yn').get_attribute('src').split('/')[-1]:
            chargeQ = 0  
        else:
            chargeQ = 1 
        # 경정비 유무
        repairQ = 0 if '_off' in driver.find_element(By.CSS_SELECTOR, '.service #maint_yn').get_attribute('src').split('/')[-1] else 1
        # 편의점 유무 
        conv_storeQ = 0 if '_off' in driver.find_element(By.CSS_SELECTOR, '.service #cvs_yn').get_attribute('src').split('/')[-1] else 1
        # 24시간 영업 유무 
        service24Q = 0 if '_off' in driver.find_element(By.CSS_SELECTOR, '.service #sel24_yn').get_attribute('src').split('/')[-1] else 1
        
        # 셀프 주유 여부
        try:
            driver.find_element(By.CSS_SELECTOR,'#self_icon').get_attribute('alt') 
            selfQ = 1
        except:
            selfQ = 0
        

        insert_query = '''INSERT INTO GAS_STATION 
                (brand, name, city, gu, address, gasoline, diesel, self, lat, lng, car_wash, charging_station, car_maintenance, convenience_store, 24_hours) 
                VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
            '''
        
        lat, lng = lat_lng_from_address(address)

        info_tuple = (
            gas_brand_id(brand),
            stn_name,
            '서울',
            gu_from_address(address),
            address,
            change_type(gasoline_price),
            change_type(diesel_price),
            selfQ,
            lat,
            lng,
            washing_car,
            chargeQ,
            repairQ,
            conv_storeQ,
            service24Q
        )

        pin_cur.execute(insert_query, info_tuple)
        aws_remote.commit()

driver.quit()

In [17]:
# - 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다.
# - 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.
pin_cur.execute("SELECT count(name) from GAS_STATION;")
for item in pin_cur:
    print(item)

(430,)

In [18]:
pin_cur.execute("SELECT * from GAS_STATION limit 10;")
for item in pin_cur:
    print(item)

(1, 2, 'HD현대오일뱅크㈜직영 강남셀프주유소', '서울', '강남구', '서울 강남구 도곡로 208', 1699, 1599, 1, 1, 0, 0, 0, 0, Decimal('37.49229500000000'), Decimal('127.04185980000000'))
(2, 1, '(주)보성 세곡주유소', '서울', '강남구', '서울 강남구 헌릉로 731 (세곡동)', 1725, 1589, 1, 1, 0, 0, 0, 0, Decimal('37.46715650000000'), Decimal('127.11870810000000'))
(3, 2, 'HD현대오일뱅크㈜직영 산성셀프주유소', '서울', '강남구', '서울 강남구 헌릉로 730', 1732, 1599, 1, 1, 0, 0, 0, 0, Decimal('37.46656750000000'), Decimal('127.11908030000000'))
(4, 1, '자곡셀프주유소', '서울', '강남구', '서울 강남구 밤고개로 120 (자곡동)', 1735, 1649, 1, 1, 0, 0, 0, 0, Decimal('37.48340020000000'), Decimal('127.10404580000000'))
(5, 2, 'HD현대오일뱅크㈜직영 도곡셀프주유소', '서울', '강남구', '서울 강남구 남부순환로 2718', 1739, 1619, 1, 1, 0, 1, 0, 0, Decimal('37.48546230000000'), Decimal('127.04321810000000'))
(6, 3, '방죽주유소', '서울', '강남구', '서울 강남구 밤고개로 215 (율현동)', 1747, 1629, 1, 1, 0, 0, 0, 0, Decimal('37.47499260000000'), Decimal('127.10688660000000'))
(7, 2, 'HD현대오일뱅크㈜직영 유진주유소', '서울', '강남구', '서울 강남구 논현로 152 (도곡동)', 1749, 1634, 0, 1, 0, 1, 0, 0, Decimal('37.48743160000000'), Decimal('127.03999760000000'))
(8, 1, '오일프러스 셀프', '서울', '강남구', '서울 강남구 남부순환로 2651 (도곡동)', 1756, 1634, 1, 1, 0, 1, 0, 1, Decimal('37.48583900000000'), Decimal('127.03967210000000'))
(9, 4, '극동유화㈜ 개나리주유소', '서울', '강남구', '서울 강남구 언주로 423 (역삼동)', 1766, 1634, 1, 1, 0, 1, 0, 1, Decimal('37.50007760000000'), Decimal('127.03854190000000'))
(10, 4, '(주)선진도곡주유소', '서울', '강남구', '서울 강남구 도곡로 162 (도곡동)', 1778, 1669, 0, 1, 0, 1, 0, 0, Decimal('37.48782540000000'), Decimal('127.04668760000000'))

## 문제 5. 시각화 프로젝트를 위하여 다음의 규칙으로 쿼리하여 CSV 파일로 저장합니다. (Python 코드로 작성)
- 전체 데이터를 가져오는데, 주유소 브랜드 아이디 대신 브랜드명이 표시되어야 합니다. (정렬 : 주유소 매장 아이디 순)
- 다음의 형식으로 저장되어야 함 (브랜드 이름, 칼럼 명 주의, id : GAS_STORE.id)

In [19]:
merge_query = '''
SELECT gs.id, gb.name, gs.name, city, gu, address, gasoline, diesel, self, car_wash, charging_station, car_maintenance, convenience_store, 24_hours, lat, lng
FROM GAS_STATION gs LEFT OUTER JOIN GAS_BRAND gb
ON gs.brand = gb.id
ORDER BY gs.id
'''
pin_cur.execute(merge_query)

import pandas as pd

df = pd.DataFrame(pin_cur)
df.columns = ["id", "brand", "name", "city", "gu", "address", "gasoline", "diesel", "self", "car_wash", "charging_station", "car_maintenance", "convenience_store", "24_hours", "lat", "lng"]
df.to_csv('./gas_stations.csv',index = False, encoding = "euc-kr")

In [21]:
df.tail()

,id,brand,name,city,gu,address,gasoline,diesel,self,car_wash,charging_station,car_maintenance,convenience_store,24_hours,lat,lng
425,426,S-OIL,(주)기지에너지,서울,중랑구,서울 중랑구 용마산로 716 (신내동),1699,1529,0,0,0,0,0,0,37.61762840000000,127.09438090000000
426,427,SK에너지,신내주유소,서울,중랑구,서울 중랑구 용마산로 705 (신내동),1713,1539,1,1,0,0,0,0,37.61712500000000,127.09589620000000
427,428,S-OIL,범아주유소,서울,중랑구,서울 중랑구 동일로 881 (묵동),1718,1568,0,1,0,1,0,0,37.60931110000000,127.07767250000000
428,429,SK에너지,용마로주유소,서울,중랑구,서울 중랑구 용마산로 309 (면목동),1718,1558,1,1,0,0,0,0,37.57987770000000,127.09218190000000
429,430,SK에너지,신일셀프주유소,서울,중랑구,서울 중랑구 상봉로 58 (망우동),1758,1598,1,1,0,1,0,1,37.59094190000000,127.09380660000000

## 문제 6. 위도, 경도 정보를 이용하여 미왕빌딩에서 1킬로 이내에 위치한 주유소 정보를 검색하세요.
- 주유소 아이디, 주유소 브랜드명, 주유소 매장명, 주소, 미왕빌딩으로 부터의 거리 (km)

In [22]:
# acos(sin(lat1)*sin(lat2)+cos(lat1)*cos(lat2)*cos(lon2-lon1))*6371 (6371 is Earth radius in km.)

dist_query = '''
SELECT gs.id, gb.name, gs.name, address, ROUND((6371*acos(cos(radians(37.495535))*cos(radians(lat))*cos(radians(lng) -radians(127.029357))+sin(radians(37.495535))*sin(radians(lat)))), 2) AS distance
FROM GAS_STATION gs LEFT OUTER JOIN GAS_BRAND gb
ON gs.brand = gb.id
HAVING distance < 1
ORDER BY distance;
'''

pin_cur.execute(dist_query)

for item in pin_cur:
    print(item)

(13, 'SK에너지', 'SK서광주유소', '서울 강남구 역삼로 142', 0.52)
(245, '현대오일뱅크', 'HD현대오일뱅크㈜직영 서초제일주유소', '서울 서초구 사임당로 116 (서초동)', 0.81)
(9, 'S-OIL', '극동유화㈜ 개나리주유소', '서울 강남구 언주로 423 (역삼동)', 0.95)

## 문제 7. 위도, 경도 정보를 이용하여 미왕빌딩에서 셀프주유가 가능하고 24시간이면서 편의점이 있는 가장 가까운 주유소 10개를 휘발유 가격이 가장 저렴한 순으로 정렬하여 조회하세요.
- 주유소 아이디, 주유소 브랜드명, 주유소 매장명, 주소, 휘발유 가격, 부가정보 (셀프, 24시간, 편의점 여부), 미왕빌딩으로 부터의
거리 (km)

In [23]:
conditions_query = '''
SELECT gs.id, gb.name, gs.name, address, gasoline, self, 24_hours, convenience_store, ROUND((6371*acos(cos(radians(37.495535))*cos(radians(lat))*cos(radians(lng) -radians(127.029357))+sin(radians(37.495535))*sin(radians(lat)))), 2) AS distance
FROM GAS_STATION gs LEFT OUTER JOIN GAS_BRAND gb
ON gs.brand = gb.id
ORDER BY distance, gasoline
LIMIT 10
'''

pin_cur.execute(conditions_query)

for item in pin_cur:
    print(item)

(13, 'SK에너지', 'SK서광주유소', '서울 강남구 역삼로 142', 1795, 1, 1, 0, 0.52)
(245, '현대오일뱅크', 'HD현대오일뱅크㈜직영 서초제일주유소', '서울 서초구 사임당로 116 (서초동)', 1749, 0, 0, 0, 0.81)
(9, 'S-OIL', '극동유화㈜ 개나리주유소', '서울 강남구 언주로 423 (역삼동)', 1766, 1, 1, 0, 0.95)
(20, 'GS칼텍스', '지에스칼텍스㈜에너지플러스허브GS타워', '서울 강남구 논현로 516 (역삼동)', 1899, 1, 1, 0, 1.01)
(239, 'GS칼텍스', '에너지플러스허브 삼방주유소', '서울 서초구 사평대로 364 (서초동)', 1740, 1, 1, 0, 1.06)
(238, '현대오일뱅크', 'HD현대오일뱅크㈜직영 사평로주유소', '서울 서초구 사평대로 350 (서초동)', 1740, 0, 0, 0, 1.11)
(1, '현대오일뱅크', 'HD현대오일뱅크㈜직영 강남셀프주유소', '서울 강남구 도곡로 208', 1699, 1, 0, 0, 1.16)
(241, 'S-OIL', '에쓰오일(주)직영 오토테크주유소', '서울특별시 서초구 효령로 356 (서초동)', 1744, 1, 0, 0, 1.16)
(7, '현대오일뱅크', 'HD현대오일뱅크㈜직영 유진주유소', '서울 강남구 논현로 152 (도곡동)', 1749, 0, 0, 0, 1.3)
(8, 'SK에너지', '오일프러스 셀프', '서울 강남구 남부순환로 2651 (도곡동)', 1756, 1, 1, 0, 1.41)

## 문제 8. 구별로 주유소 브랜드 별 휘발유 평균가격을 조회하여 저렴한 순으로 출력하세요.
- 구 이름, 주유소 브랜드 이름, 휘발유 평균 가격

In [30]:
final_query = '''
select s.gu, b.name brand, avg(gasoline) avg 
from GAS_BRAND b, GAS_STATION s 
where b.id=s.brand 
group by gu, brand 
order by avg
'''

pin_cur.execute(final_query)
res = pin_cur.fetchall()
for data in res:
    print(data)

('중랑구', '현대오일뱅크', Decimal('1647.0000'))
('양천구', 'S-OIL', Decimal('1651.0000'))
('강북구', '현대오일뱅크', Decimal('1651.6667'))
('서초구', '알뜰주유소', Decimal('1659.0000'))
('중랑구', 'GS칼텍스', Decimal('1660.3333'))
('광진구', 'S-OIL', Decimal('1667.0000'))
('성동구', '자가상표', Decimal('1668.0000'))
('은평구', '현대오일뱅크', Decimal('1669.5000'))
('광진구', '현대오일뱅크', Decimal('1669.8000'))
('도봉구', 'GS칼텍스', Decimal('1675.0000'))
('도봉구', 'SK에너지', Decimal('1676.0000'))
('강서구', '알뜰주유소', Decimal('1676.7500'))
('구로구', 'SK에너지', Decimal('1677.0000'))
('동대문구', '현대오일뱅크', Decimal('1678.1667'))
('서대문구', 'GS칼텍스', Decimal('1678.5000'))
('양천구', 'GS칼텍스', Decimal('1679.4000'))
('강북구', 'S-OIL', Decimal('1680.0000'))
('구로구', '현대오일뱅크', Decimal('1681.0000'))
('성북구', '현대오일뱅크', Decimal('1681.2857'))
('성동구', 'S-OIL', Decimal('1681.5000'))
('강북구', 'GS칼텍스', Decimal('1683.0000'))
('금천구', '알뜰주유소', Decimal('1683.0000'))
('서대문구', '현대오일뱅크', Decimal('1684.0000'))
('구로구', '알뜰주유소', Decimal('1684.0000'))
('양천구', '알뜰주유소', Decimal('1684.0000'))
('동대문구', 'GS칼텍스', Decimal('1685.0000'))
('은평구', 'GS칼텍스', Decimal('1685.0000'))
('도봉구', 'S-OIL', Decimal('1687.6000'))
('광진구', 'GS칼텍스', Decimal('1688.0000'))
('영등포구', '알뜰주유소', Decimal('1689.0000'))
('중랑구', 'S-OIL', Decimal('1689.6000'))
('강북구', 'SK에너지', Decimal('1691.6667'))
('성동구', '현대오일뱅크', Decimal('1692.3333'))
('도봉구', '현대오일뱅크', Decimal('1693.1667'))
('강서구', '현대오일뱅크', Decimal('1693.6000'))
('관악구', '알뜰주유소', Decimal('1698.0000'))
('은평구', 'SK에너지', Decimal('1699.6667'))
('성북구', 'SK에너지', Decimal('1701.3333'))
('동대문구', 'SK에너지', Decimal('1702.8000'))
('영등포구', '현대오일뱅크', Decimal('1703.1667'))
('노원구', '현대오일뱅크', Decimal('1703.3333'))
('은평구', 'S-OIL', Decimal('1704.5000'))
('서대문구', 'S-OIL', Decimal('1705.0000'))
('성북구', 'S-OIL', Decimal('1705.1667'))
('금천구', '현대오일뱅크', Decimal('1707.6667'))
('노원구', 'S-OIL', Decimal('1708.5000'))
('중랑구', 'SK에너지', Decimal('1709.0000'))
('금천구', 'S-OIL', Decimal('1710.0000'))
('양천구', '현대오일뱅크', Decimal('1714.0000'))
('양천구', 'SK에너지', Decimal('1714.6250'))
('영등포구', 'S-OIL', Decimal('1715.2500'))
('금천구', 'SK에너지', Decimal('1718.3333'))
('송파구', 'GS칼텍스', Decimal('1719.5000'))
('송파구', 'S-OIL', Decimal('1720.0000'))
('마포구', '현대오일뱅크', Decimal('1720.6667'))
('서대문구', 'SK에너지', Decimal('1721.3333'))
('동작구', '현대오일뱅크', Decimal('1721.8000'))
('노원구', 'SK에너지', Decimal('1727.0000'))
('성북구', 'GS칼텍스', Decimal('1730.4286'))
('관악구', 'SK에너지', Decimal('1732.2500'))
('관악구', '현대오일뱅크', Decimal('1732.5000'))
('마포구', 'S-OIL', Decimal('1732.5000'))
('강서구', 'GS칼텍스', Decimal('1733.1429'))
('송파구', '현대오일뱅크', Decimal('1733.8333'))
('금천구', 'GS칼텍스', Decimal('1735.0000'))
('동작구', 'GS칼텍스', Decimal('1736.5000'))
('서초구', 'GS칼텍스', Decimal('1742.9167'))
('동대문구', 'S-OIL', Decimal('1743.2500'))
('서초구', '현대오일뱅크', Decimal('1745.0000'))
('노원구', 'GS칼텍스', Decimal('1747.0000'))
('광진구', 'SK에너지', Decimal('1747.2500'))
('송파구', 'SK에너지', Decimal('1748.8889'))
('강서구', 'S-OIL', Decimal('1750.0000'))
('강서구', 'SK에너지', Decimal('1753.4545'))
('종로구', '현대오일뱅크', Decimal('1766.5000'))
('중구', 'S-OIL', Decimal('1767.0000'))
('마포구', 'SK에너지', Decimal('1768.4000'))
('강동구', '현대오일뱅크', Decimal('1777.3333'))
('구로구', 'S-OIL', Decimal('1777.3333'))
('은평구', '자가상표', Decimal('1778.0000'))
('동작구', 'S-OIL', Decimal('1779.0000'))
('강동구', 'SK에너지', Decimal('1779.6667'))
('관악구', 'S-OIL', Decimal('1791.5000'))
('서초구', 'S-OIL', Decimal('1794.5000'))
('서초구', 'SK에너지', Decimal('1814.5714'))
('중구', '알뜰주유소', Decimal('1818.0000'))
('강동구', 'GS칼텍스', Decimal('1821.6000'))
('영등포구', 'SK에너지', Decimal('1824.3750'))
('성동구', 'SK에너지', Decimal('1827.8333'))
('구로구', 'GS칼텍스', Decimal('1833.5000'))
('영등포구', 'GS칼텍스', Decimal('1844.6250'))
('종로구', 'S-OIL', Decimal('1869.5000'))
('동작구', 'SK에너지', Decimal('1875.0000'))
('중구', '현대오일뱅크', Decimal('1878.0000'))
('강남구', 'S-OIL', Decimal('1889.7500'))
('관악구', 'GS칼텍스', Decimal('1895.3333'))
('강동구', 'S-OIL', Decimal('1899.0000'))
('강남구', 'SK에너지', Decimal('1911.3000'))
('성동구', 'GS칼텍스', Decimal('1927.2500'))
('강남구', '현대오일뱅크', Decimal('1956.3333'))
('종로구', 'SK에너지', Decimal('1959.3333'))
('강남구', 'GS칼텍스', Decimal('2037.0000'))
('용산구', '현대오일뱅크', Decimal('2065.2500'))
('중구', 'SK에너지', Decimal('2121.6000'))
('용산구', 'SK에너지', Decimal('2226.0000'))
('종로구', 'GS칼텍스', Decimal('2345.0000'))
('용산구', 'GS칼텍스', Decimal('2479.5000'))
('중구', 'GS칼텍스', Decimal('2509.0000'))